/* styles */
.rocket-container{
    width: 100%;
    height: 100vh;
    display: grid;
}

.rocket-item{
    align-self: end;
    justify-self: center;
    font-size: 96px;
}

/* animation */

@keyframes flyUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-120vh);
        opacity: 0;
    }
}



.fly-up .rocket-item{
    animation: flyUp 2s linear forwards;
}