/* rocket.css */
.rocket-container{
    height: 100vh;
    width: 100vw;
    display: grid;
}

.rocket-item{
    align-self: end;
    justify-self: center;
    font-size: 96px;
}

@keyframes flyUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-120vh);
        opacity: 0;
    }
}

.rocket-item.fly-up{
    animation: flyUp 2s linear forwards;
}